Download NFE/Download/201611/*.*
Download NFE/Download/201702/*.*
Download NFE/Download/201703/*.*
Download NFE/Download/201704/*.*
Download NFE/Download/201705/*.*
Download NFE/Download/201706/*.*
Download NFE/Download/201707/*.*
Download NFE/Download/201708/*.*
Download NFE/Download/201709/*.*
Download NFE/Download/201710/*.*
Download NFE/Eventos/201611/*.*
Download NFE/Eventos/201706/*.*
Download NFE/Eventos/201707/*.*
Download NFE/Eventos/201709/*.*
Download NFE/Salvar/*.*
Download NFE/Schemas/*.*
MicroTerminais/Win32/Debug/CONF/*.*
Scripts/*.*
*.bat
*.db
*.dcu
*.dll
*.dproj.local
*.exe
*.identcache
*.ico
*.ini
*.jpg
*.log
*.mes
*.mine
*.ods
*.otares
*.pdf
*.pfx
*.png
*.r42
*.r47
*.rar
*.res
*.scc
*.skincfg
*.sql
*.stat
*.tmp
*.txt
*.vlb
*.xls